@namespace PsiCat.Home

@using PsiCat
@using PsiCat.SmartDevices
@using System.Drawing
@inject PsiCatClient Client
@inject SmartDevicesPlugin SmartDevices

<div>
    <span style="float: left; width: 200px; color: @(IsDisabled ? "#999" : "#000");">
        @(SmartLight != null ? SmartLight.IP : "NULL")
    </span>
    
    <input type="color"
           class="color-input"
           value="@Color"
           disabled="@IsDisabled"
           @onchange="UpdateColor"
    />
    
    <input type="range"
           min="1"
           max="100"
           value="@Brightness"
           disabled="@IsDisabled"
           @onchange="UpdateBrightness"
    />

    <input type="checkbox" 
           @bind="@IsOn" 
           disabled="@IsDisabled"
           @onclick="Toggle"
    />
    
    <button @onclick="GetDetails" disabled="@IsDisabled" class="btn-light">
        ?
    </button>
    
    <Popup @ref="popup" />
</div>


