@namespace PsiCat.Home

@using PsiCat.SmartDevices
@inject PsiCatClient Client
@inject SmartDevicesPlugin SmartDevices

<div>
    <div class="col-md-12 d-flex">
        <h4>@LightGroupConfig.Name</h4>
        <Light SmartLight="@SmartLightGroup" @ref="@GroupLightElement" />
    </div>
        
    <div>
        <ul>
            @foreach (string ip in LightGroupConfig)
            {
                <li><Light SmartLight="@GetLight(ip)" @ref="@LightElement"/></li>
            }
        </ul>
    </div>
</div>

