@namespace PsiCat.Home

@page "/lights"
@using PsiCat.SmartDevices
@inject PsiCatClient Client
@inject SmartDevicesPlugin SmartDevices

<h3>Smart Lights</h3>

<TabControl>
    <button type="button" @onclick="Refresh" disabled="@RefreshDisabled">
        <span class="oi oi-reload"></span>
        Refresh
    </button>
    
    <TabPage Label="All">
        <LightGroup LightGroupConfig="@GetAllLights()" @ref="@LightGroupElement" />
    </TabPage>
    @foreach (SmartDeviceGroup entry in this.SmartDevices.Config.GetDeviceGroupsOfType(SmartDeviceType.Light))
    {
        <TabPage Label="@entry.Name">
            <LightGroup LightGroupConfig="@entry" @ref="@LightGroupElement" />
        </TabPage>
    }
    <TabPage Label="+">
        <DeviceGroupEditor />
    </TabPage>
</TabControl>

<footer>
    <TextConsole Contents="@(Client.Logger as IConsoleContents)" Rows="1" />
</footer>